In [1]:
import kaggle

In [2]:
!kaggle datasets download shivamb/netflix-shows -f netflix_titles.csv

Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0
Downloading netflix_titles.csv.zip to C:\Users\safana.y.rasheet.ali\Python+SQL

  0%|          | 0.00/1.34M [00:00<?, ?B/s]
 75%|#######4  | 1.00M/1.34M [00:01<00:00, 707kB/s]
100%|##########| 1.34M/1.34M [00:01<00:00, 890kB/s]

In [3]:
import zipfile
zip_file=zipfile.ZipFile('netflix_titles.csv.zip')
zip_file.extractall()
zip_file.close()

In [40]:
import pandas as pd
netflix_df=pd.read_csv('netflix_titles.csv')

In [41]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [13]:
#netflix_df.to_sql('netflix_df',con=conn,index=False,if_exists='replace')

107

In [42]:
#conn.close()

In [15]:
len(netflix_df)

8807

In [38]:
#varchar in SQL connot accept foreign characters like korean etc, so change it to nvarchar
netflix_df[netflix_df['show_id']=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [25]:
max(netflix_df['show_id'].str.len())

5

In [26]:
max(netflix_df['type'].str.len())

7

In [27]:
max(netflix_df['director'].str.len())

208.0

In [29]:
#if null values in the column , that will be taken as max, so drop na before calculating len or max
max(netflix_df['cast'].str.len())
max(netflix_df['cast'].dropna().str.len())

771

In [32]:
max(netflix_df['country'].dropna().str.len())
#max(netflix_df['date_added'].dropna().str.len())
#max(netflix_df['rating'].dropna().str.len())
#max(netflix_df['listed_in'].dropna().str.len())
#max(netflix_df['description'].dropna().str.len())

123

In [52]:
import sqlalchemy as sal
from sqlalchemy import create_engine,NVARCHAR
#Treating nvarchar to include foreign characters
dtype={'title':NVARCHAR(length=1000)}
engine=sal.create_engine('mssql://cdc2-l-433dq1s/explore?driver=ODBC+Driver+17+FOR+SQL+SERVER')
conn=engine.connect()
netflix_df.to_sql('netflix_df',con=conn,index=False,if_exists='append',dtype=dtype)

107

In [53]:
conn.close()

In [57]:
netflix_df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64